<mat-grid-list cols="1" *ngIf="!selectedPet; else divMain">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>
<ng-template #divMain>
  <div class="page-heading--wrapper">
    <h2 class="page-heading--heading mat-display-1">
      {{ selectedPet.petName }}
    </h2>
  </div>
  <div class="main-img-wrapper">
    <img [src]="selectedPet.imgUrl" alt="" />
  </div>

  <div class="counters-wrapper" *ngIf="counterBathInfo">
    <div class="counters">
      <div class="counters--days counters--days-passed">
        <div class="counters--days-heading">Último baño</div>
        <div
          class="counters--days-date"
          *ngIf="!counterBathInfo.hasRegisteredBaths"
        >
          Sin baños registrados
        </div>
        <div
          class="counters--days-date"
          *ngIf="counterBathInfo.hasRegisteredBaths"
        >
          {{ counterBathInfo.lastBathDate | date }}
        </div>
        <div
          class="counters--days-counter-num"
          *ngIf="counterBathInfo.hasRegisteredBaths"
        >
          {{ counterBathInfo.daysPassed }}
        </div>
        <div
          class="counters--days-counter-num"
          *ngIf="!counterBathInfo.hasRegisteredBaths"
        >
          0
        </div>
        <div class="counters--days-counter-label">Días transcurridos</div>
      </div>
      <div class="counters--days counters--days-left">
        <div class="counters--days-heading">Próximo baño</div>
        <div class="counters--days-date">
          {{ counterBathInfo.nextBathDate | date }}
        </div>
        <div class="counters--days-counter-num">
          {{ counterBathInfo.daysLeft }}
        </div>
        <div class="counters--days-counter-label">Días faltantes</div>
      </div>
    </div>
    <!-- <div class="counters" *ngIf="!counterBathInfo.hasRegisteredBaths">
    <div class="counters--days counters--days-passed">
      <div class="counters--days-heading">Último baño</div>
      <div class="counters--days-date">Sin baños registrados</div>
      <div class="counters--days-counter-num">0</div>
      <div class="counters--days-counter-label">Días transcurridos</div>
    </div>
    <div class="counters--days counters--days-left">
      <div class="counters--days-heading">Próximo baño</div>
      <div class="counters--days-date">26/07/2022</div>
      <div class="counters--days-counter-num">2</div>
      <div class="counters--days-counter-label">Días faltantes</div>
    </div>
  </div> -->
  </div>

  <div class="main-button-wrapper">
    <button mat-raised-button class="main-button" (click)="registerBath()">
      Registrar nuevo baño
    </button>
  </div>

  <div class="shower-data-table-wrapper">
    <div class="shower-data-table">
      <div class="shower-data-table--header">
        <div class="shower-data-table--heading">Fecha</div>
        <div class="shower-data-table--heading">Tipo</div>
        <div class="shower-data-table--heading">Realizado por</div>
        <div class="shower-data-table--heading">Champús</div>
        <div class="shower-data-table--heading">Acciones</div>
      </div>
      <div *ngFor="let shower of showers" class="shower-data-table--row">
        <div class="shower-data-table--cell">
          {{ shower.date | date: "shortDate" }}
        </div>
        <div class="shower-data-table--cell">{{ shower.type }}</div>
        <div class="shower-data-table--cell">{{ shower.doneBy }}</div>
        <div class="shower-data-table--cell">{{ shower.shampoos }}</div>
        <div class="shower-data-table--cell">Editar | Borrar</div>
      </div>
    </div>
  </div>
  <pre style="color: white">{{ selectedPet | json }}</pre>
  <pre style="color: white">{{ counterBathInfo | json }}</pre>
</ng-template>
