<mat-grid-list cols="1" *ngIf="!selectedPet; else divMain">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>
<ng-template #divMain>
  <div class="page-heading--wrapper">
    <h2 class="page-heading--heading mat-display-1">
      {{ selectedPet.petName }}
    </h2>
  </div>
  <div class="main-img-wrapper">
    <img [src]="selectedPet.imgUrl" alt="" />
  </div>

  <div class="counters-wrapper" *ngIf="counterBathInfo">
    <div class="counters">
      <div class="counters--days counters--days-passed">
        <div class="counters--days-heading">Último baño</div>
        <div
          class="counters--days-date"
          *ngIf="!counterBathInfo.hasRegisteredBaths"
        >
          Sin baños registrados
        </div>
        <div
          class="counters--days-date"
          *ngIf="counterBathInfo.hasRegisteredBaths"
        >
          {{ counterBathInfo.lastBathDate | date }}
        </div>
        <div
          class="counters--days-counter-num"
          *ngIf="counterBathInfo.hasRegisteredBaths"
        >
          {{ counterBathInfo.daysPassed }}
        </div>
        <div
          class="counters--days-counter-num"
          *ngIf="!counterBathInfo.hasRegisteredBaths"
        >
          0
        </div>
        <div class="counters--days-counter-label">Días transcurridos</div>
      </div>
      <div class="counters--days counters--days-left">
        <div class="counters--days-heading">Próximo baño</div>
        <div class="counters--days-date">
          {{ counterBathInfo.nextBathDate | date }}
        </div>
        <div class="counters--days-counter-num">
          {{ counterBathInfo.daysLeft }}
        </div>
        <div class="counters--days-counter-label">Días faltantes</div>
      </div>
    </div>
    <!-- <div class="counters" *ngIf="!counterBathInfo.hasRegisteredBaths">
    <div class="counters--days counters--days-passed">
      <div class="counters--days-heading">Último baño</div>
      <div class="counters--days-date">Sin baños registrados</div>
      <div class="counters--days-counter-num">0</div>
      <div class="counters--days-counter-label">Días transcurridos</div>
    </div>
    <div class="counters--days counters--days-left">
      <div class="counters--days-heading">Próximo baño</div>
      <div class="counters--days-date">26/07/2022</div>
      <div class="counters--days-counter-num">2</div>
      <div class="counters--days-counter-label">Días faltantes</div>
    </div>
  </div> -->
  </div>

  <div class="main-button-wrapper" *ngIf="selectedPet.editAuthorization">
    <button
      mat-raised-button
      class="main-button"
      (click)="registerSimplifiedBath()"
    >
      Registro baño simplificado
    </button>
    <button mat-raised-button class="main-button" (click)="registerBath()">
      Registrar nuevo baño
    </button>
  </div>

  <div class="shower-data-table-wrapper">
    <div class="shower-data-table">
      <div class="shower-data-table--header">
        <div class="shower-data-table--heading">Fecha</div>
        <div class="shower-data-table--heading u-hide-on-sm">Tipo</div>
        <div class="shower-data-table--heading u-hide-on-sm">Realizado por</div>
        <div class="shower-data-table--heading u-hide-on-sm">Champús</div>
        <div
          class="shower-data-table--heading"
          *ngIf="selectedPet.editAuthorization"
        >
          Acciones
        </div>
      </div>
      <div
        *ngFor="let bath of selectedPet.registeredBaths"
        class="shower-data-table--row"
      >
        <div class="shower-data-table--cell">
          {{ bath.date | date: "shortDate" }}
        </div>
        <div class="shower-data-table--cell u-hide-on-sm">
          {{ bath.bathType }}
        </div>
        <div class="shower-data-table--cell u-hide-on-sm">
          {{ bath.bather }}
        </div>
        <div class="shower-data-table--cell u-hide-on-sm">
          {{ bath.shampoo }}
        </div>
        <div
          class="shower-data-table--cell"
          *ngIf="selectedPet.editAuthorization"
        >
          <button mat-button>Editar</button>
          <button mat-button (click)="deleteBath(bath._id!)">Borrar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main-button-wrapper">
    <button mat-raised-button class="main-button" routerLink="/main/petProfile">
      Ver perfil de mascota
    </button>
    <button
      *ngIf="selectedPet.editAuthorization"
      mat-raised-button
      class="main-button"
      routerLink="/main/editPet"
    >
      Editar mascota
    </button>
  </div>
  <!-- <pre style="color: white">{{ selectedPet | json }}</pre> -->
  <!-- <pre style="color: white">{{ counterBathInfo | json }}</pre> -->
</ng-template>
