<div class="page-heading--wrapper">
  <h2 class="page-heading--heading mat-display-1">Editar baño</h2>
</div>

<div class="c-container">
  <form class="c-form --white" [formGroup]="myForm" (ngSubmit)="updateBath()">
    <div class="form-inputs">
      <div class="form-group">
        <div class="form-label">Fecha</div>
        <input
          class="form-input"
          type="date"
          formControlName="date"
          placeholder="Fecha"
        />
      </div>

      <div class="form-group">
        <div class="form-label">Responsable del baño</div>
        <input
          class="form-input"
          type="string"
          formControlName="bather"
          placeholder="Responsable del baño"
        />
        <span class="form-error" *ngIf="invalidField('bather')"
          >Campo obligatorio</span
        >
      </div>

      <div class="form-group">
        <div class="form-label">Tipo de baño</div>
        <input
          class="form-input"
          type="string"
          formControlName="bathType"
          placeholder="Tipo de baño"
        />
      </div>

      <div class="form-group">
        <div class="form-label">Champú</div>
        <input
          class="form-input"
          type="string"
          formControlName="shampoo"
          placeholder="Champú"
        />
      </div>
    </div>

    <div class="main-button-wrapper">
      <button
        mat-button
        class="main-button u-w-100 my-2r"
        color="white"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Cambiar
      </button>
    </div>
  </form>
</div>
