/**********************************************************/
/******************VARIABLES**********************************/
/**********************************************************/
$primary-color: #1e130c;
$secondary-color: #9a8478;
$identifier-border: red solid 2px;

/**********************************************************/
/******************GENERAL*********************************/
/**********************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @media (max-width: 600px) {
    font-size: 50%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img{
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*************************************/
/*************PAGES*******************/
/*************************************/

/*************WELCOME*****************/
.welcome-header--wrapper{
  margin: 0 auto;
  
  max-width: 80rem;  
  margin-bottom: 4rem;

  h1{
    font-size: 7rem;
    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: -7px;
    
  }
}

.welcome-img--wrapper{
  padding-top: 15rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

  img {
    max-width: 20rem;
    border-radius: 2%;
    box-shadow: 0px 5px 20px 5px #050505;
    
  }
}

.welcome-intro--wrapper{
  display: block;  
  margin: 0 auto;  
  max-width: 80rem;  
  margin-bottom: 4rem;
  padding: 2rem;  
  p{
    color: white;
    font-size: 2rem;
    line-height: 2rem;
  }
}

.welcome-buttons{
  margin: 0 auto;
  max-width: 40rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  
  button{
    background-color: $secondary-color;
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
  

}

// border: $identifier-border;

/*************AUTH*******************/

.auth-container {
  margin: 0 auto;
  padding-top: 9rem;
  max-width: 48rem;
}

.auth-wrapper {
  background-color: white;
  padding: 2.4rem;
  border-radius: 1.5%;
  box-shadow: 0px 5px 20px 5px #050505;
}

.auth-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;

  .auth-heading {
    font-size: 4rem;
  }
}

/*************MAIN*******************/
.counters-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3.6rem;
}

.counters {
  width: 50rem;
  display: flex;
  justify-content: center;
  border-radius: 1%;
  overflow: hidden;
  box-shadow: 0px 3px 8px 0px #000000;

  &--days {
    padding: 1.6rem;
    flex: 1;
  }
  &--days-passed {
    background-color: $secondary-color;
  }
  &--days-left {
    background-color: lighten($secondary-color, 5%);
  }

  &--days-heading {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.6rem;
  }

  &--days-date {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  &--days-counter-num {
    font-size: 6rem;
    margin-bottom: 2.4rem;
    color: $primary-color;

    text-align: center;
  }
  &--days-counter-label {
    text-align: center;
  }
}

.shower-data-table-wrapper {
  display: flex;
  justify-content: center;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 3.6rem;

  @media (max-width: 600px) {
    max-width: 100%;
    padding: 1.6rem;
  }
}

.shower-data-table {
  padding: 1.6rem;
  background-color: lighten($secondary-color, 20%);
  width: 100%;
  box-shadow: 0px 3px 8px 0px orange;

  &--header {
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }

  &--heading {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &--row {
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: space-evenly;
  }

  &--cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*************USER PROFILE*******************/
.user-profile {
  &--wrapper {
    margin: 0 auto;
    max-width: 58rem;
    margin-top: 3.6rem;
    padding: 1.6rem;

    @media (max-width: 600px) {
      padding: 0;
      max-width: 50rem;
    }
  }

  &--heading-container {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
  }

  &--heading {
    margin-bottom: 2.4rem !important;
  }

  &--img-container {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    img {
      width: 100%;
      // max-width: 90%;
      border-radius: 2%;
      box-shadow: 0px 5px 20px 5px #050505;

      object-fit: cover;
    }
  }

  &--info-container {
    display: flex;
    gap: 1.6rem;
    margin: 1.6rem 0;
    align-items: center;
    justify-content: space-between;
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
    @media (max-width: 600px) {
      flex-direction: column;
    }

  }

  &--info-label {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    flex: 1;
    color: #cbcbcb;
  }

  &--linked-pets {
    margin: 1.6rem 0;
    align-items: center;
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
  }

  &--linked-pets-list {
    margin-top: 1.6rem;
  }

  &--linked-pet {
    padding-left: 1.6rem;
    max-width: 90%;
    display: flex;
    gap: 2.4rem;
    align-items: center;
    margin-bottom: 1.6rem;
  }
  &--linked-pet-img {
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px white solid;

    img {
      width: 100%;
      // max-width: 90%;
      border-radius: 2%;
      box-shadow: 0px 5px 20px 5px #050505;
      object-fit: cover;
    }
  }

  &--linked-pet-actions {
    display: flex;
    gap: 1rem;
  }

  &--buttons {
    display: flex;
    justify-content: space-evenly;
  }
}

/*************EDIT USER*******************/
.update-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  .c-img--container{
    flex: 1;
    
  }
  label{
    flex: 1;
    
    mat-icon{      
      cursor: pointer;
    }
        input{
      display: none;
    }
  }
}

/*************PET PROFILE*******************/
.pet-profile {
  &--wrapper {
    margin: 0 auto;
    max-width: 50rem;
    margin-top: 3.6rem;
    padding: 1.6rem;

    @media (max-width: 600px) {
      // max-width: 100%;
    }
    
  }

  &--heading-container {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
  }

  &--heading {
    margin-bottom: 2.4rem !important;
  }

  &--img-container {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    img {
      width: 100%;
      // max-width: 90%;
      border-radius: 2%;
      box-shadow: 0px 5px 20px 5px #050505;
    }
  }

  &--info-container {
    display: flex;
    gap: 1.6rem;
    margin: 1.6rem 0;
    align-items: center;
    justify-content: space-between;
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
  }

  &--info-label {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    flex: 1;
    color: #cbcbcb;
  }

  &--list-container {
    margin: 1.6rem 0;
    align-items: center;
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
  }

  &--list {
    margin-top: 1.6rem;
  }

  &--list-item {
    padding-left: 10rem;
    margin-bottom: 1.6rem;
  }

  &--linked-users {
    margin: 1.6rem 0;
    align-items: center;
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;

  }

  &--linked-users-list {
    margin-top: 1.6rem;
  }

  &--linked-user {
    padding-left: 1.6rem;
    max-width: 90%;
    display: flex;
    gap: 2.4rem;
    align-items: center;
    margin-bottom: 1.6rem;
    @media (max-width: 600px) {
      font-size: 1.6rem;
      gap: 0.5rem;
    }
  }
  &--linked-user-img {
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px white solid;

    img {
      width: 100%;
      // max-width: 90%;
      border-radius: 2%;
      box-shadow: 0px 5px 20px 5px #050505;
    }
  }

  &--linked-user-actions {
    display: flex;
    gap: 1rem;
  }

  &--buttons {
    display: flex;
    justify-content: space-evenly;


    @media (max-width: 600px) {
      flex-direction: column;
      gap: 1rem;


      button{
        margin: 0 auto;
        width: 70%;
      }
  

    }

  }
}

/*************************************/
/*************COMPONENTS**************/
/*************************************/

/*************CONTAINERS AND WRAPPERS***************/

.page-container {
  min-height: 100vh;
  background-color: red;
  background: linear-gradient(104.1deg, #1e130c 16.17%, #9a8478 97.77%);
  background-blend-mode: darken;
  padding-bottom: 1rem;
}

.c-container{  
    margin: 0 auto;      
    max-width: 48rem;
  
}

.main-img-wrapper {
  // padding-top: 3.6rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  img {
    max-width: 40rem;
    border-radius: 2%;
    box-shadow: 0px 5px 20px 5px #050505;
    @media (max-width: 600px) {
      max-width: 40rem;
    }
  }
}



/*************NAVBAR*******************/
.navbar {
  background-color: #1e130c;
  color: rgb(229, 221, 221);
  justify-content: space-between;
  padding: 0 3.6rem;

  &--right {
    display: flex;
    gap: 3rem;

    a {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    cursor: pointer;
    font-weight: 600;
    letter-spacing: -3px;
    font-size: 2.4rem;

    &:hover {
      color: #e8e8e8;
    }
  }

  .menu-group {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    cursor: pointer;

    span {
      display: block;
      @media (max-width: 600px) {
        display: none;
      }
    }

    &:hover {
      color: #e8e8e8;
      .menu-group--img {
        border: 2px #e8e8e8 solid;
      }
    }

    &--img {
      display: flex;
      justify-content: center;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      overflow: hidden;
      border: 2px white solid;

      img {
        width: 100%;
        // max-width: 90%;
        border-radius: 2%;
        box-shadow: 0px 5px 20px 5px #050505;
        object-fit: cover;
      }
    }
  }
}

/*************BUTTONS*******************/
.main-button-wrapper {
  margin-bottom: 3.6rem;
  display: flex;
  justify-content: center;
  gap: 3rem;


}

.main-button {
  color: white;
  font-size: 2.4rem;
  background-color: $secondary-color;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }

  // margin: 0 auto;
}

.main-button-wrapper {
  margin-bottom: 3.6rem;
  display: flex;
  justify-content: center;

  .main-button {
    font-size: 2.4rem;
    background-color: $secondary-color;
    &:hover {
      background-color: darken($secondary-color, 10%);
    }

    // margin: 0 auto;
  }
}

.main-button {
  font-size: 1.6rem;
  background-color: $secondary-color;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

/*************TYPOGRAPHY*******************/

.page-heading--wrapper{
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: white;
  display: flex;
  justify-content: center;

  .page-heading--heading{
    
    // border: $identifier-border;
    margin: 0;
    
  }


}

/*************FORMS*******************/
.c-form {
  &.--white{
    color: white;
    background-color: transparent;

    .form-input {
      color: white;
    }


  }
  .form-inputs {
    margin-bottom: 2.4rem;
  }
  .form-group {
    margin-bottom: 1.6rem;
    width: 100%;
  }

  .form-label {
  }
  .form-input {
    background-color: transparent;
    padding-left: 1.6rem;
    height: 3.6rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d9d9d9;
  }

  .form-error{
    color: red;
  }
}

/************IMAGES****************/

.c-img--container{
  max-width: 15rem;
  margin: 0 auto;
  display: flex;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 5px 20px 5px #050505;
  padding: 0;

  img{
    object-fit: cover;
  }
}

/************OTHERS****************/
.c-linked{
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  justify-content: center;
  margin-bottom: 3rem;
  
  &--data{
    display: flex;    
    gap: 2rem;
    margin-bottom: 1rem;

    .c-linked--imgWrapper{
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      overflow: hidden;
    }

    .c-linked--name{
      display: flex;
      align-items: center;
    }
  }

  &--authorizations{
    display: flex;    
    gap: 2rem;
    margin-bottom: 1rem;
  }

  &--actions{
    display: flex;    
    gap: 2rem;
    margin-bottom: 1rem;
  }

}

/*************************************/
/*************UTILITIES**************/
/*************************************/


.u-w-100 {
  width: 100% !important;
}

.u-whiteText {
  color: white !important;
}

// TODO: Add u
.my-2r {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}

.u-hide-on-sm{
  display: table-cell;

  @media (max-width: 600px) {
    display: none;
  }
}

.u-hide{
  width: 0;
  display: none;
}


// MEDIA QUERY
