<div class="pet-profile--wrapper">
  <div class="pet-profile--heading-container">
    <h2 class="pet-profile--heading u-whiteText mat-display-1">
      Perfil de mascota
    </h2>
  </div>
  <div class="pet-profile--img-container">
    <img src="assets/images/Ginebra.jpg" alt="" />
  </div>
  <div class="pet-profile--info-container">
    <div class="pet-profile--info-label">
      <mat-icon>pets</mat-icon>
      <span>Nombre de la mascota</span>
    </div>
    <div class="pet-profile--info-value">
      <span>Ginebra</span>
    </div>
  </div>

  <div class="pet-profile--list-container">
    <div class="pet-profile--info-label">
      <mat-icon>local_drink</mat-icon>
      <span>Champús</span>
    </div>
    <div class="pet-profile--list">
      <div class="pet-profile--list-item">
        <span>Douxo Calm</span>
      </div>
      <div class="pet-profile--list-item">
        <span>VET'S BEST</span>
      </div>
    </div>

    <div class="pet-profile--list-container">
      <div class="pet-profile--info-label">
        <mat-icon>shower</mat-icon>
        <span>Tipos de baño</span>
      </div>
      <div class="pet-profile--list">
        <div class="pet-profile--list-item">
          <span>Casero</span>
        </div>
        <div class="pet-profile--list-item">
          <span>Estética canina - baño</span>
        </div>
        <div class="pet-profile--list-item">
          <span>Estética canina - baño y corte</span>
        </div>
      </div>

      <div class="pet-profile--linked-users">
        <div class="pet-profile--info-label">
          <mat-icon>account_circle</mat-icon>
          <span>Usuarios vinculados</span>
        </div>
        <div class="pet-profile--linked-users-list">
          <div class="pet-profile--linked-user">
            <div class="pet-profile--linked-user-img">
              <img src="assets/images/me.png" alt="" />
            </div>
            <div class="pet-profile-linked-user-name">
              <span>javier.garcia</span>
            </div>
            <div class="pet-profile--linked-user-actions">
              <mat-icon>visibility</mat-icon>
              <mat-icon>edit</mat-icon>
            </div>
          </div>
          <div class="pet-profile--linked-user">
            <div class="pet-profile--linked-user-img">
              <img src="assets/images/me.png" alt="" />
            </div>
            <div class="pet-profile-linked-user-name">
              <span>america.garcia</span>
            </div>
            <div class="pet-profile--linked-user-actions">
              <mat-icon>visibility</mat-icon>
              <mat-icon>edit</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="pet-profile--buttons">
        <button mat-raised-button class="main-button">Editar perfil</button>
        <button mat-raised-button class="main-button">
          Cambiar contraseña
        </button>
      </div>
    </div>
  </div>
</div>
