<div class="page-heading--wrapper">
  <h2 class="page-heading--heading mat-display-1">Editar usuario</h2>
</div>

<div class="c-container">
  <form
    class="c-form --white"
    [formGroup]="myForm"
    (ngSubmit)="changePassword()"
  >
    <div class="form-inputs">
      <div class="form-group">
        <div class="form-label">Contraseña anterior</div>
        <input
          class="form-input"
          type="password"
          formControlName="prevPassword"
          placeholder="Ingrese su Contraseña anterior"
        />
        <span class="form-error" *ngIf="invalidField('prevPassword')"
          >Debe contar al menos con seis carácteres</span
        >
      </div>
      <div class="form-group">
        <div class="form-label">Nueva contraseña</div>
        <input
          class="form-input"
          type="password"
          formControlName="password"
          placeholder="Ingrese su nueva contraseña"
        />
        <span class="form-error" *ngIf="invalidField('password')"
          >Debe contar al menos con seis carácteres</span
        >
      </div>
      <div class="form-group">
        <div class="form-label">Confirme contraseña</div>
        <input
          class="form-input"
          type="password"
          formControlName="passwordConfirmation"
          placeholder="Confirme su contraseña"
        />
        <span class="form-error" *ngIf="invalidField('passwordConfirmation')"
          >Debe contar al menos con seis carácteres</span
        >
      </div>
    </div>

    <div class="main-button-wrapper">
      <button
        mat-button
        class="main-button u-w-100 my-2r"
        color="primary"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Cambiar
      </button>
    </div>
  </form>
</div>
