<div class="page-container">
  <div class="welcome-img--wrapper">
    <img src="assets/images/Ginebra.jpg" alt="" />
  </div>
  <div class="welcome-header--wrapper">
    <h1>Ginebra se baña</h1>
  </div>
  <div class="welcome-intro--wrapper">
    <p class="welcome-intro--text">
      Esta es una aplicación web para registrar el baño de las mascotas. Esta
      aplicación surge con base en las necesidades de mi perrita: Ginebra; ella
      tiene un problema en la piel desde muy joven y necesita de baños
      continuos, es por ello que decidí crear este sitio para registrar sus
      baños y estar pendiente del siguiente.
    </p>
  </div>
  <div class="welcome-buttons">
    <button mat-raised-button routerLink="/main/selectedPet">
      Perfil de Ginebra
    </button>
    <button mat-raised-button routerLink="/main/public">
      Mascotas públicas
    </button>
    <button mat-raised-button routerLink="/auth/login">Login</button>
    <button mat-raised-button routerLink="/auth/register">Registro</button>
  </div>
</div>
