<div class="page-heading--wrapper">
  <h2 class="page-heading--heading mat-display-1">Mascotas públicas</h2>
</div>

<div class="public-pets-list">
  <div *ngFor="let item of publicPets" class="public-pet">
    <div class="public-pet--image">
      <img [src]="item.imgUrl" alt="" />
    </div>
    <div class="public-pet--name">{{ item.petName }}</div>
    <button
      *ngIf="user"
      mat-raised-button
      class="public-pet--action main-button"
      (click)="linkNewUser(item._id)"
    >
      Vincular
    </button>
  </div>

  <!-- <pre>{{ publicPets | json }}</pre> -->
</div>
