<div class="page-container">
  <div class="auth-container">
    <div class="auth-wrapper">
      <div class="auth-header">
        <h2 class="auth-heading">Nuevo usuario</h2>
      </div>
      <form class="c-form" [formGroup]="myForm" (ngSubmit)="register()">
        <div class="form-inputs">
          <div class="form-group">
            <div class="form-label">Nombre de usuario</div>
            <input
              class="form-input"
              type="text"
              formControlName="username"
              placeholder="Ingrese su nombre de usuario"
            />
            <span class="form-error" *ngIf="invalidField('username')"
              >Debe contar al menos con cuatro carácteres</span
            >
          </div>
          <div class="form-group">
            <div class="form-label">Email</div>
            <input
              class="form-input"
              type="email"
              formControlName="email"
              placeholder="Ingrese su email"
            />
            <span class="form-error" *ngIf="invalidField('email')"
              >Debe estar en formato de correo electrónico</span
            >
          </div>
          <div class="form-group">
            <div class="form-label">Password</div>
            <input
              class="form-input"
              type="password"
              formControlName="password"
              placeholder="Ingrese su contraseña"
            />
          </div>
          <span class="form-error" *ngIf="invalidField('password')"
            >Debe contar al menos con seis carácteres</span
          >
          <div class="form-group">
            <div class="form-label">Confirme su contraseña</div>
            <input
              class="form-input"
              type="password"
              formControlName="passwordConfirmation"
              placeholder="Confirme su contraseña"
            />
            <span
              class="form-error"
              *ngIf="invalidField('passwordConfirmation')"
              >Debe contar al menos con seis carácteres</span
            >
          </div>
        </div>

        <div class="main-button-wrapper">
          <button
            mat-raised-button
            class="main-button u-w-100 my-2r"
            color="primary"
            type="submit"
            [disabled]="myForm.invalid"
          >
            REGISTRO
          </button>
        </div>

        <div class="">
          <span class="mat-body-2"> ¿Ya tienes cuenta? </span>

          <a routerLink="/auth/login" class="mat-caption"> Accede aquí </a>
        </div>
      </form>
    </div>
  </div>
</div>
