<div class="user-profile--wrapper">
  <div class="user-profile--heading-container">
    <h2 class="user-profile--heading u-whiteText mat-display-1">
      Perfil de usuario
    </h2>
  </div>
  <div class="user-profile--img-container">
    <img src="assets/images/me.png" alt="" />
  </div>
  <div class="user-profile--info-container">
    <div class="user-profile--info-label">
      <mat-icon>account_circle</mat-icon>
      <span>Nombre de usuario</span>
    </div>
    <div class="user-profile--info-value">
      <span>javier.garcia</span>
    </div>
  </div>
  <div class="user-profile--info-container">
    <div class="user-profile--info-label">
      <mat-icon>perm_identity</mat-icon>
      <span>Nombre completo</span>
    </div>
    <div class="user-profile--info-value">
      <span>Javier García Gómez</span>
    </div>
  </div>
  <div class="user-profile--linked-pets">
    <div class="user-profile--info-label">
      <mat-icon>pets</mat-icon>
      <span>Mascotas vinculadas</span>
    </div>
    <div class="user-profile--linked-pets-list">
      <div class="user-profile--linked-pet">
        <div class="user-profile--linked-pet-img">
          <img src="assets/images/Ginebra.jpg" alt="" />
        </div>
        <div class="user-profile-linked-pet-name">
          <span>Ginebra</span>
        </div>
        <div class="user-profile--linked-pet-actions">
          <mat-icon>visibility</mat-icon>
          <mat-icon>edit</mat-icon>
        </div>
      </div>

      <div class="user-profile--linked-pet">
        <div class="user-profile--linked-pet-img">
          <img src="assets/images/Ginebra.jpg" alt="" />
        </div>
        <div class="user-profile-linked-pet-name">
          <span>Azzurra</span>
        </div>
        <div class="user-profile--linked-pet-actions">
          <mat-icon>visibility</mat-icon>
          <mat-icon>edit</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="user-profile--buttons">
    <button mat-raised-button class="main-button" routerLink="/main/editUser">
      Editar perfil
    </button>
    <button mat-raised-button class="main-button" routerLink="/main/changePass">
      Cambiar contraseña
    </button>
  </div>
</div>
